Repository csgroup-oss/sharinghub-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, copyright-header

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
default_install_hook_types: [pre-commit, commit-msg, pre-push]
default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.16.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [push]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
    - id: markdownlint-fix
      args: [ --disable=MD013 ]
    - id: markdownlint
      args: [ --disable=MD013 ]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
    - id: hadolint-docker
      args: [
        "--failure-threshold=warning",
        "--ignore=DL3008",
        "--ignore=DL3013",
      ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy app
        files: "^app"
        pass_filenames: false
        types_or: [python]
        language: python
      - id: copyright-header
        name: Copyright header
        entry: ./scripts/copyright.py
        types_or: [python]
        language: python

ci: add tag push to test & publish pipeline
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

ci(publish): fix API version
  .github/workflows/publish.yml
Due: none

perf: add gunicorn config file, calculate number of worker from available cpu
  Dockerfile
  pyproject.toml
  resources/gunicorn.conf.py
Due: copyright-header

feat: add mlflow type field to config (#7)
  CONFIGURATION.md
  app/config.yaml
  app/configuration.py
  app/settings.py
Due: mypy, copyright-header

docs: update CHANGELOG.md for release 0.2.0
  CHANGELOG.md
Due: none

feat: add wizard config
  CONFIGURATION.md
  app/config.yaml
  app/configuration.py
  app/settings.py
Due: mypy, copyright-header

fix: add read_repository and write_repository to oauth scope
  CONFIGURATION.md
  app/auth/api.py
  app/config.yaml
  app/configuration.py
  app/settings.py
Due: mypy, copyright-header

feat: add mlflow registered models to assets
  app/providers/client/gitlab.py
  app/providers/schemas.py
  app/settings.py
  app/stac/api/build.py
  app/stac/views.py
Due: mypy, copyright-header

fix(stac): license 'proprietary' value deprecated, use 'other' instead
  app/stac/api/build.py
Due: mypy, copyright-header

refactor: improve project mlflow definition
  app/providers/client/gitlab.py
  app/stac/views.py
Due: mypy, copyright-header

fix: rename check API router tag
  app/providers/views/__init__.py
Due: mypy, copyright-header

fix(stac): improve mlflow tracking uri link, move models from assets to links
  app/stac/api/build.py
Due: mypy, copyright-header

feat: cache mlflow registered models requests
  app/stac/views.py
Due: mypy, copyright-header

feat(stac): add project packages and containers in stac links
  app/providers/client/gitlab.py
  app/providers/schemas.py
  app/stac/api/build.py
  app/stac/views.py
Due: mypy, copyright-header

revert: remove cache for containers and registered models, use stac cache
  app/stac/views.py
Due: mypy, copyright-header

feat: add categories to checker API
  app/providers/views/checker.py
Due: mypy, copyright-header

chore: remove deprecated STAC_PROJECTS_CACHE_TIMEOUT from settings
  CONFIGURATION.md
  app/stac/settings.py
Due: mypy, copyright-header

refactor: use cache namespace and ttl
  app/providers/views/checker.py
  app/settings.py
  app/stac/views.py
  app/store/settings.py
  app/store/views.py
Due: mypy, copyright-header

docs: add new cache settings to CONFIGURATION.md
  CONFIGURATION.md
Due: none

fix: handle packages null value
  app/providers/client/gitlab.py
Due: mypy, copyright-header

fix: add file extension to preview asset name
  app/stac/api/build.py
Due: mypy, copyright-header

fix: handle null repository
  app/providers/client/gitlab.py
Due: mypy, copyright-header

fix: visitor acces-level changed from guest to reporter
  app/providers/client/gitlab.py
Due: mypy, copyright-header

fix: use project description if no readme content
  app/stac/api/build.py
Due: mypy, copyright-header

feat: add gitlab 'public' mode
  app/auth/depends.py
  app/auth/settings.py
  app/providers/client/gitlab.py
Due: mypy, copyright-header

feat: change access level values, add public and guest
  app/providers/client/gitlab.py
  app/providers/schemas.py
Due: mypy, copyright-header

docs: update CONFIGURATION.md with GITLAB_ALLOW_PUBLIC
  CONFIGURATION.md
Due: none

feat: add rest endpoint for project contributors and user
  app/providers/client/_base.py
  app/providers/client/gitlab.py
  app/providers/schemas.py
  app/providers/views/proxy.py
Due: mypy, copyright-header

docs: update CHANGELOG.md for release 0.3.0
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

chore: update gitleaks v8.21.2
  .github/workflows/test.yml
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

feat: add external url for support contact (#19)
  CONFIGURATION.md
  app/config.yaml
Due: none

fix(docker): minimize use of app user home
  Dockerfile
Due: none

refactor(docker): move gunicorn app parameter to conf file
  Dockerfile
  resources/gunicorn.conf.py
Due: copyright-header

refactor(docker): fix format, uppercase 'as' and use 'ENV name=value'
  Dockerfile
Due: none

feat: mount UI at root
  app/auth/views.py
  app/main.py
  app/stac/api/build.py
  app/utils/http.py
Due: mypy, copyright-header

fix: project GraphQL query use userPermissions instead of maxAccessLevel
  app/providers/client/gitlab.py
Due: mypy, copyright-header

feat: openapi aggregator for services
  CONFIGURATION.md
  NOTICE
  app/config.yaml
  app/main.py
  app/settings.py
  app/utils/openapi.py
  pyproject.toml
Due: mypy, copyright-header

refactor: store enable changed to mode, describing http or s3 store
  CONFIGURATION.md
  app/configuration.py
  app/router.py
  app/store/settings.py
Due: mypy, copyright-header

refactor: fix mypy
  app/providers/client/gitlab.py
  app/stac/api/search.py
Due: mypy, copyright-header

fix: pin pydantic<2.10 to avoid url serialization regression
  pyproject.toml
Due: none
